<div id="pasos" class="carousel slide UACarousel nav_blue" data-ride="carousel" data-interval="false">
  <ol class="carousel-indicators d-none">
    <li data-target="#pasos" data-slide-to="0" class="active"></li>
    <li data-target="#pasos" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner fondoformulario">
<div class="">
    <div class="carousel-item active">
      <div class="container-fluid privados">
        <div class="col-12 text-center ct">
          <h1 class="heading-2 text-white">Unete a la experiencia de estacionamiento inteligente</h1>
          <form class="container mt-4" role="form" action="" method="post">
            <input id="email" class="col-lg-6 mail" type="email" spellcheck="false" placeholder="Email address">
              <button type="submit" class="btn btn-secondary btn-lg btn-lg btn-responsive bgborder2 carousel-control-next" href="#pasos" role="button" data-slide="next">Adherirme</button>
            </form>
        </div>
      </div>
    </div>
    <div class="carousel-item nav_white">
      <div class="d-block w-100 mf">
        <div class="container">
          <div class="rows mt-4">
            <div class="col-sm-12 col-md-12 col-lg-12 form-wizard">
              <form role="form" action="" method="post">
                <div class="form-wizard-steps form-wizard-tolal-steps-3 mt-4">
                  <div class="form-wizard-progress">
                    <div id="numberofstep" class="form-wizard-progress-line inchform" data-now-value="12.25" data-number-of-steps="3"></div>
                  </div>
                  <div class="form-wizard-step mb-4 active">
                    <p class="mb-1">
                      Información de Contacto
                    </p>
                  </div>
                  <div class="form-wizard-step mb-4">
                    <p class="mb-1">
                      Detalles del Estacionamiento
                    </p>
                  </div>
                  <div class="form-wizard-step mb-4">
                    <p class="mb-1">
                      Finalizar Formulario
                    </p>
                  </div>
                </div>
                <fieldset class="col-lg-12">
                  <div class="col-lg-6 float-left">
                    <div class="form-group">
                      <label for="nombre" class="labelup">Nombre(s) y Apellido(s)</label>
                      <input id="nombre" type="text" name="Nombre" class="form-control" required="false">
                    </div>
                    <div class="form-group">
                      <label for="name" class="labelup1">Nombre del Estacionamiento</label>
                      <input id="name" type="text" name="Nombre" class="form-control" required="false">
                    </div>
                    <div class="form-group d-none">
                      <label for="address" class="labelup2" required>*Dirección:</label>
                      <input id="address" type="text" name="Direccion" class="form-control" required="false">
                    </div>
                    <div class="form-group">
                      <label for="telefono" class="labelup3">Telefono:</label>
                      <input id="telefono" type="num" name="Telefono" class="form-control" required="false">
                    </div>
                    <div class="form-group">
                      <label for="email" class="labelup4">*Email:</label>
                      <input id="email" class="form-control" type="email" required>
                    </div>
                  </div>
                  <div class="col-lg-6 float-right mapas1 hidden-xs-down hidden-md-down mb-2">
                    <div class="form-group">
                      <label for="address" class="labelup2" required>*Dirección:</label>
                      <input id="address" type="text" name="Direccion" class="form-control" required="false">
                    </div>
                    <iframe class="mapas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.892428342296!2d-58.374922185167165!3d-34.606881565171676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccad2db79a651%3A0x5af2625866f4c24b!2sBartolom%C3%A9+Mitre+430%2C+C1036AAH+CABA!5e0!3m2!1ses-419!2sar!4v1536701238338"
                    width="82%" height="600px" frameborder="0" allowfullscreen=""></iframe>
                  </div>
                  <div class="col-lg-12 rows">
                  </div>
                  <div class="form-wizard-buttons text-center">
                    <button type="button" class="style-btn2 btn-next">
                      Siguiente
                    </button>
                  </div>
                </fieldset>
                <fieldset class="col-lg-12 col-lg-12 pl-0 pr-0">
                  <div class="background pb-0">
                    <div class="container pt-0">
                      <div class="panel pricing-table pt-0 pb-0">
                        <div class="pricing-plan pt-0 pb-0">
                          <img class="pricing-img1 mb-0" src="https://i.postimg.cc/FR30Gy0M/Screen-Shot-2018-11-06-at-00-45-14.png">
                          <h2 class="pricing-header d-none">SUMÁ tu estacionamiento</h2>
                          <ul class="pricing-features mb-0 mt-2">
                            <li class="pricing-features-item">Gestioná tu anuncio</li>
                            <li class="pricing-features-item">Aparecé en nuestro mapa interactivo</li>
                          </ul>
                          <br><br>
                          <span class="pricing-price mb-4">Gratis</span>
                          <input class="cradio" type="radio" name="radios" id="free" class="track-order-change">
                          <label for="free">
                            Seleccionar Plan
                          </label>
                        </div>
                        <div class="pricing-plan pt-0 pb-0">
                          <img class="pricing-img2 mb-0" src="https://i.postimg.cc/3wyX05NJ/Screen-Shot-2018-11-06-at-00-45-34.png">
                          <h2 class="pricing-header d-none">SER SOCIO</h2>
                          <ul class="pricing-features pb-3 mb-0 mt-2">
                            <li class="pricing-features-item">Administrá tus ventas</li>
                            <li class="pricing-features-item">Destacate en nuestro mapa interactivo</li>
                            <li class="pricing-features-item">Acepta todos los medios de pago</li>
                          </ul>
                          <span class="pricing-price mb-4">A MEDIDA</span>
                          <input class="cradio" type="radio" name="radios" id="medida" class="track-order-change">
                          <label for="medida">
                            Elegir plan
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 rows">
                  </div>
                    <div class="form-wizard-buttons text-center">
                      <button type="button" class="style-btn1 btn-prev btn-previous">
                        Anterior
                      </button>
                      <button type="button" class="style-btn2 btn-next">
                        Siguiente
                      </button>
                    </div>
                </fieldset>
                <fieldset class="col-lg-12 pl-0 pr-0">
                  <div id="mensaje" class="alert alert-info text-white bg-primary bold collapse in" role="alert">
                    <i class="mr-2">fas fa-arrow </i> Lorem Ipsum Dolor Sit Amet
                    <a href="#" class="alert-link ml-2 text-white bold">Lorem Ipsum, Quam amet</a>. Vivi Quam Minimum Credula Postero.
                  </div>
                  <div class="col-lg-6 col-sm-12 p-0 float-left flex-first">
                    <div class="form-group mb-4">
                      <label class="rows ml-2 mb-3"><strong>Medios de Pago</strong></label>
                      <div class="col-12 rows mb-3">
                        <div class="col-sm-12 col-lg-4">
                          <label for="E" class="label-cbx">
                            <input id="E" type="checkbox" class="d-none checkbox-inline" checked>
                            <div class="checkbox pic-svg"></div><span class="mp">Efectivo</span>
                          </label>
                        </div>
                        <div class="col-sm-12 col-lg-4">
                          <label for="D" class="label-cbx">
                            <input id="D" type="checkbox" class="d-none checkbox-inline">
                            <div class="checkbox pic-svg"></div><span class="mp">Credito</span>
                          </label>
                        </div>
                        <div class="col-sm-12 col-lg-4">
                          <label for="C" class="label-cbx">
                            <input id="C" type="checkbox" class="d-none checkbox-inline">
                            <div class="checkbox pic-svg"></div><span class="mp">Debito</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="rows ml-2"><strong>Horarios y Tarifas</strong></label>
                      <ul class="pl-4">
                        <li>
                          <input class="cradio" type="radio" name="radios" id="pictureTar" class="track-order-change">
                          <label for="pictureTar">
                            Subir una Fotografia con tus tarifas y/o horarios
                          </label>
                        </li>
                        <li>
                          <input class="cradio" type="radio" name="radios" id="tarifaHor" class="track-order-change">
                          <label for="tarifaHor">
                            Rellena tu Formulario
                          </label>
                        </li>
                        <li>
                          <input class="cradio" type="radio" name="radios" id="radio3" class="track-order-change">
                          <label for="radio3">
                            Terminar despues
                          </label>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-12 p-0 float-right flex-last">
                    <div class="form-group mb-lg-0">
                      <label for="plazas" class="rows pb-1 ml-2 mb-3"><strong>Plazas Disponibles</strong></label>
                      <input id="plazas" type="tel" name="Plazas" min="0" placeholder="Ej:3 Plazas" class="col-11 ml-4 form-control" required>
                    </div>
                    <div id="servicios" class="form-group">
                      <label class="rows ml-2 mt-3"><strong>Servicios Adicionales</strong></label>
                      <div class="rows mb-1 ml-3">
                        <div class="col-sm-12 col-lg-4 text-left">
                          <label for="wash" class="rows label-cbx mb-lg-3 mb-sm-4"> 
                            <span class="serv1 serv-wash col-10 col-lg-8 col-md-10 col-sm-10 p-2 text-left text-white mr-sm-4 mr-lg-1">
                              <img class="mr-2 iconos iconos-wash" src="images/iconos/wash.png"> 
                              <a> Wash </a>
                            </span>
                            <input id="wash" type="checkbox" class="d-none">
                            <div class="checkbox pic-svg">
                            </div> 
                          </label>
                        </div>
                        <div class="col-sm-12 col-lg-4 text-left">
                          <label for="gomeria" class="rows label-cbx mb-lg-3 mb-sm-4">
                            <span class="serv1 serv-gomeria col-10 col-lg-8 col-md-10 col-sm-10  p-2 text-left text-white mr-sm-4 mr-lg-1">
                              <img class="mr-2 iconos iconos-gomeria" src="images/iconos/wheel.png"> 
                              <a> Gomeria </a>
                            </span>
                            <input id="gomeria" type="checkbox" class="d-none">
                            <div class="checkbox pic-svg">
                            </div> 
                          </label>
                        </div>
                        <div class="col-sm-12 col-lg-4 text-left">
                          <label for="techado" class=" rows label-cbx mb-lg-3 mb-sm-4"> 
                            <span class="serv1 serv-techado col-10 col-lg-8 col-md-10 col-sm-10  p-2 text-left text-white mr-sm-4 mr-lg-1">
                              <img class="mr-2 iconos iconos-techado" src="images/iconos/sign.png"> 
                              <a> Techado </a>
                            </span>
                            <input id="techado" type="checkbox" class="d-none">
                            <div class="checkbox pic-svg">
                            </div> 
                          </label>
                        </div>
                        <div class="col-sm-12 col-lg-4 text-left">
                          <label for="valet" class=" rows label-cbx mb-lg-3 mb-sm-4"> 
                            <span class="serv1 serv-valet col-10 col-lg-8 col-md-10 col-sm-10 p-2 text-left text-white mr-sm-4 mr-lg-1">
                              <img class="mr-2 iconos iconos-valet" src="images/iconos/valet.png"> 
                              <a> Valet </a>
                            </span>
                            <input id="valet" type="checkbox" class="d-none">
                            <div class="checkbox pic-svg">
                            </div> 
                          </label>
                        </div>
                        <div class="col-sm-12 col-lg-4 text-left">
                          <label for="oil" class=" rows label-cbx mb-lg-3 mb-sm-4"> 
                            <span class="serv1 serv-oil col-10 col-lg-8 col-md-10 col-sm-10 p-2 text-left text-white mr-sm-4 mr-lg-1">
                              <img class="mr-2 iconos iconos-oil" src="images/iconos/oil.png"> 
                              <a> Oil </a>
                            </span>
                            <input id="oil" type="checkbox" class="d-none">
                            <div class="checkbox pic-svg">
                            </div> 
                          </label>
                        </div>
                        <div class="col-sm-12 col-lg-4 text-left">
                          <label for="mecanico" class=" rows label-cbx mb-lg-3 mb-sm-4"> 
                            <span class="serv1 serv-mecanico col-10 col-lg-8 col-md-10 col-sm-10 p-2 text-left text-white mr-sm-4 mr-lg-1">
                              <img class="mr-2 iconos iconos-mecanico" src="images/iconos/mecano.png"> 
                              <a> Mecanico </a>
                            </span>
                            <input id="mecanico" type="checkbox" class="d-none">
                            <div class="checkbox">
                              <svg class="picsvg" width="20px" height="20px" viewBox="0 0 20 20">
                                <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                <polyline points="4 11 8 15 16 6"></polyline>
                              </svg>
                            </div>
                          </label>
                        </div>
                        <div class="col-sm-12 col-lg-4 text-left">
                          <label for="cctv" class="rows label-cbx mb-lg-0 mb-sm-4"> 
                            <span class="serv1 serv-cctv col-10 col-lg-8 col-md-10 col-sm-10 p-2 text-left text-white mr-sm-4 mr-lg-1">
                              <img class="mr-2 iconos iconos-cctv" src="images/iconos/mecano.png"> 
                              <a> CCTV </a>
                            </span>
                            <input id="cctv" type="checkbox" class="d-none">
                            <div class="checkbox pic-svg">
                            </div>
                          </label>
                        </div>
                        <div class="col-sm-12 col-lg-4 text-left">
                          <label for="altura" class="rows label-cbx mb-lg-0 mb-sm-4"> 
                            <span class="serv1 serv-altura col-10 col-lg-8 col-md-10 col-sm-10 p-2 text-left text-white mr-sm-4 mr-lg-1">
                              <img class="mr-2 iconos iconos-altura" src="images/iconos/mecano.png"> 
                              <a> Altura </a>
                            </span>
                            <input id="altura" type="checkbox" class="d-none">
                            <div class="checkbox pic-svg">
                            </div>
                          </label>
                        </div>
                        <div class="col-sm-12 col-lg-4 text-left">
                          <label for="reservado" class="rows label-cbx mb-lg-0 mb-sm-4"> 
                            <span class="serv1 serv-reservado col-10 col-lg-8 col-md-10 col-sm-10 p-2 text-left text-white mr-sm-4 mr-lg-1">
                              <img class="mr-2 iconos iconos-reservado" src="images/iconos/mecano.png"> 
                              <a> Reservar </a>
                            </span>
                            <input id="reservado" type="checkbox" class="d-none">
                            <div class="checkbox pic-svg">
                            </div>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 rows">
                  </div>
                  <div class="col-xs-12 panel-collapse collapse in flex-unordered" id="pictureTarifa">
                    <div class="container">
                      <div class="form-group">
                        <div id="dropzone" class="dropzone">
                          <form action="/tarifas.php" class="dropzone dz-clickable" id="upload-tarifa">
                            <div class="dz-message">
                              <p>Arrastra tu foto de tarifa</p>
                              <span>
                                (Envie una fotografia que sea <strong>legible</strong> se procedera a subir.)
                              </span>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 panel-collapse collapse in col flex-unordered" id="tarifaHorarios">
                    <div class="container">
                      <div class="col-lg-6 float-left pl-0 pr-0">
                        <div class="form-group">
                          <label class="rows ml-2"><strong>Horarios de Atención</strong></label>
                            <div class="col-sm-12 col-lg-4 text-left mb-4 ml-3 calendario">
                              <label for="247" class="rows label-cbx calendario">
                                <span class="serv serv-247 col-10 col-lg-8 col-md-10 col-sm-10 p-2 text-left text-white mr-sm-4 mr-lg-1 semana calendario">
                                  <i class="mr-2 fas fa-calendar-alt iconos-247"></i>
                                  <a> 24/7 </a>
                                </span>
                                <input id="247" type="checkbox" class="d-none calendario" checked>
                                <div class="checkbox calendario pic-svg">
                                </div>
                              </label>
                            </div>
                        </div>
                        <div class="table text-center collapse" id="horarios" aria-expanded="true">
                          <div class="thead-light clickable">
                            <div class="col-12">
                              <div class="clic rows">
                                <div class="col-2 text-left ml-3"><strong>24/7</strong></div>
                                <div class="col">
                                  <strong>Abre</strong>
                                </div>
                                <div class="col">
                                  <strong>Cierra</strong>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="rows mb-0">
                              <div class="col-2 text-left ml-3">
                                <strong>LUN</strong>
                              </div>
                              <div class="col pb-2 input-group">
                                <input id='lun_de' name="hora" class="time form-control form-control1 text-center" placeholder="--:--">
                              </div>
                              <div class="col pb-2 input-group">
                                <input id='lun_a' type="tel" minuteStep="15" name="hora" class="form-control form-control1 text-center time" data-template="dropdown" data-minute-step="15" placeholder="--:--">
                              </div>
                            </div>
                            <div class="te rows mb-0">
                              <div class="col-2 text-left ml-3">
                                <strong>MAR</strong>
                              </div>
                              <div class="col pb-2 input-group">
                                <input id='mar_de' data-date-format="HH:mm" data-link-format="HH:mm" type="tel" minuteStep="15" name="hora" class="time form-control form-control1 text-center" data-template="dropdown" data-minute-step="15" placeholder="--:--">
                              </div>
                              <div class="col pb-2 input-group">
                                <input id='mar_a' type="tel" minuteStep="15" name="hora" class="time form-control form-control1 text-center" data-template="dropdown" data-minute-step="15" placeholder="--:--">
                              </div>
                            </div>
                            <div class="rows mb-0">
                              <div class="col-2 text-left ml-3">
                                <strong>MIE</strong>
                              </div>
                              <div class="col pb-2 input-group">
                                <input id='mie_de' name="hora" class="time form-control form-control1 text-center" placeholder="--:--">
                              </div>
                              <div class="col pb-2 input-group">
                                <input id='mie_a' type="tel" minuteStep="15" name="hora" class="time form-control form-control1 text-center" data-template="dropdown" data-minute-step="15" placeholder="--:--">
                              </div>
                            </div>
                            <div class="rows mb-0">
                              <div class="col-2 text-left ml-3">
                                <strong>JUE</strong>
                              </div>
                              <div class="col pb-2 input-group">
                                <input id='jue_de' name="hora" class="time form-control form-control1 text-center" placeholder="--:--">
                              </div>
                              <div class="col pb-2 input-group">
                                <input id='jue_a' type="tel" minuteStep="15" name="hora" class="form-control form-control1 text-center time" data-template="dropdown" data-minute-step="15" placeholder="--:--">
                              </div>
                            </div>
                            <div class="rows mb-0">
                              <div class="col-2 text-left ml-3">
                                <strong>VIE</strong>
                              </div>
                              <div class="col pb-2 input-group">
                                <input id='vie_de' name="hora" class="time form-control form-control1 text-center" placeholder="--:--">
                              </div>
                              <div class="col pb-2 input-group">
                                <input id='vie_a' type="tel" minuteStep="15" name="hora" class="form-control form-control1 text-center time" data-template="dropdown" data-minute-step="15" placeholder="--:--">
                              </div>
                            </div>
                            <div class="rows mb-0">
                              <div class="col-2 text-left ml-3">
                                <strong>SAB</strong>
                              </div>
                              <div class="col pb-2 input-group">
                                <input id='sab_de' name="hora" class="time form-control form-control1 text-center time" placeholder="--:--">
                              </div>
                              <div class="col pb-2 input-group">
                                <input id='sab_a' type="tel" minuteStep="15" name="hora" class="time form-control form-control1 text-center time" data-template="dropdown" data-minute-step="15" placeholder="--:--">
                              </div>
                            </div>
                            <div class="rows mb-0">
                              <div class="col-2 text-left ml-3">
                                <strong>DOM</strong>
                              </div>
                              <div class="col pb-2 input-group">
                                <input id='dom_de' name="hora" class="time form-control form-control1 text-center" placeholder="--:--">
                              </div>
                              <div class="col pb-2 input-group">
                                <input id='dom_a' type="tel" minuteStep="15" name="hora" class="time form-control form-control1 text-center" data-template="dropdown" data-minute-step="15" placeholder="--:--">
                              </div>
                            </div>
                            <div class="rows mb-0">
                              <div class="col-2 text-left ml-3">
                                <strong>Fdo.</strong>
                              </div>
                              <div class="col pb-2 input-group">
                                <input id='fer_de' name="hora" class="time form-control form-control1 text-center" placeholder="--:--">
                              </div>
                              <div class="col pb-2 input-group">
                                <input id='fer_a' type="tel" name="hora" class="time form-control form-control1 text-center" placeholder="--:--">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 float-right pl-0 pr-0">
                        <div class="form-group">
                          <label class="rows ml-2 pb-0 mb-2"><strong>Tarifas</strong></label>
                          <div class="rows text-center">
                            <div class="col-12 rows p-0 m-0">
                              <div class="col-1 ml-2 formemp"></div>
                              <div class="col form-control1">
                                <select class="selectpicker" id="minutos">
                                  <option class="color" value="5"><strong>5MIN</strong></option>
                                  <option class="color" value="15">15MIN</option>
                                </select>
                              </div>
                              <div class="col form-control1">
                                <strong>HORA</strong>
                              </div>
                              <div class="col form-control1">
                                <strong>12HS</strong>
                              </div>
                              <div class="col form-control1">
                                <strong>24HS</strong>
                              </div>
                              <div class="col mr-4 form-control1">
                                <strong>1MES</strong>
                              </div>
                            </div>
                            <div class="rows p-0 m-0">
                              <div class="col-1 ml-lg-2 vehiculo auto mr-2"></div>
                              <div class="col form-control1">
                                <input id="auto-5" type="tel" min="0" placeholder="$0" class="form-control form-control1 pesos">
                              </div>
                              <div class="col form-control1">
                                  <input id="auto-1" type="tel" min="0" placeholder="$0" class="form-control form-control1 pesos">
                              </div>
                              <div class="col form-control1">
                                  <input id="auto-2" type="tel" min="0" placeholder="$0" class="form-control form-control1 pesos">
                              </div>
                              <div class="col form-control1">
                                  <input id="auto-3" type="tel" min="0" placeholder="$0" class="form-control form-control1 pesos">
                              </div>
                              <div class="col form-control1">
                                  <input id="auto-6" type="tel" min="0" placeholder="$0" class="form-control form-control1 pesos">
                              </div>
                            </div>
                            <div class="rows p-0 m-0">
                              <div class="col-1 ml-lg-2 vehiculo camioneta mr-2"></div>
                              <div class="col form-control1">
                                  <input id="camioneta-5" type="tel" min="0" placeholder="$0" class="form-control form-control1 pesos">
                              </div>
                              <div class="col form-control1">
                                  <input id="camioneta-1" type="tel" min="0" placeholder="$0" class="form-control form-control1 pesos">
                              </div>
                              <div class="col form-control1">
                                  <input id="camioneta-2" type="tel" min="0" placeholder="$0" class="form-control form-control1 pesos">
                              </div>
                              <div class="col form-control1">
                                  <input id="camioneta-3" type="tel" min="0" placeholder="$0" class="form-control form-control1 pesos">
                              </div>
                              <div class="col form-control1">
                                  <input id="camioneta-6" type="tel" min="0" placeholder="$0" class="form-control form-control1 pesos">
                              </div>
                            </div>
                            <div class="rows p-0 m-0">
                              <div class="col-1 ml-lg-2 x4 vehiculo mr-2"></div>
                              <div class="col form-control1">
                                  <input id="4x4-5" type="tel" min="0" placeholder="$0" class="form-control form-control1 pesos">
                              </div>
                              <div class="col form-control1">
                                  <input id="4x4-1" type="tel" min="0" placeholder="$0" class="form-control form-control1 pesos">
                              </div>
                              <div class="col form-control1">
                                  <input id="4x4-2" type="tel" min="0" placeholder="$0" class="form-control form-control1 pesos">
                              </div>
                              <div class="col form-control1">
                                  <input id="4x4-3" type="tel" min="0" placeholder="$0" class="form-control form-control1 pesos">
                              </div>
                              <div class="col form-control1">
                                  <input id="4x4-6" type="tel" min="0" placeholder="$0" class="form-control form-control1 pesos">
                              </div>
                            </div>
                            <div class="rows p-0 m-0">
                              <div class="col-1 ml-lg-2 vehiculo camion mr-2"></div>
                              <div class="col form-control1">
                                  <input id="camion-5" type="tel" min="0" placeholder="$0" class="form-control form-control1 pesos">
                              </div>
                              <div class="col form-control1">
                                  <input id="camion-1" type="tel" min="0" placeholder="$0" class="form-control form-control1 pesos">
                              </div>
                              <div class="col form-control1">
                                  <input id="camion-2" type="tel" min="0" placeholder="$0" class="form-control form-control1 pesos">
                              </div>
                              <div class="col form-control1">
                                  <input id="camion-3" type="tel" min="0" placeholder="$0" class="form-control form-control1 pesos">
                              </div>
                              <div class="col form-control1">
                                  <input id="camion-6" type="tel" min="0" placeholder="$0" class="form-control form-control1 pesos">
                              </div>
                            </div>
                            <div class="rows p-0 m-0">
                              <div class="col-1 ml-lg-2 vehiculo moto mr-2"></div>
                              <div class="col form-control1">
                                  <input id="moto-5" type="tel" min="0" placeholder="$0" class="form-control form-control1 pesos">
                              </div>
                              <div class="col form-control1">
                                  <input id="moto-1" type="tel" min="0" placeholder="$0" class="form-control form-control1 pesos">
                              </div>
                              <div class="col form-control1">
                                  <input id="moto-2" type="tel" min="0" placeholder="$0" class="form-control form-control1 pesos">
                              </div>
                              <div class="col form-control1">
                                  <input id="moto-3" type="tel" min="0" placeholder="$0" class="form-control form-control1 pesos">
                              </div>
                              <div class="col form-control1">
                                  <input id="moto-6" type="tel" min="0" placeholder="$0" class="form-control form-control1 pesos">
                              </div>
                            </div>
                            <div class="rows p-0 m-0">
                              <div class="col-1 ml-lg-2 vehiculo bici mr-2"></div>
                              <div class="col form-control1">
                                  <input id="bici-5" type="tel" min="0" placeholder="$0" class="form-control form-control1 pesos">
                              </div>
                              <div class="col form-control1">
                                  <input id="bici-1" type="tel" min="0" placeholder="$0" class="form-control form-control1 pesos">
                              </div>
                              <div class="col form-control1">
                                  <input id="bici-2" type="tel" min="0" placeholder="$0" class="form-control form-control1 pesos">
                              </div>
                              <div class="col form-control1">
                                  <input id="bici-3" type="tel" min="0" placeholder="$0" class="form-control form-control1 pesos">
                              </div>
                              <div class="col form-control1">
                                  <input id="bici-6" type="tel" min="0" placeholder="$0" class="form-control form-control1 pesos">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 rows">
                  </div>
                  <div class="form-wizard-buttons text-center">
                    <button type="button" class="style-btn1 btn-prev btn-previous">
                      Anterior
                    </button>
                    <button type="submit" class="style-btn2 btn-submit">
                      Enviar
                    </button>
                  </div>
                </fieldset>
              </form>        
            </div>
          </div>        
        </div>
      </div>
    </div>
  </div>
  </div>
  <section class="section2">
    <div class="content-block content light text-center">
      <div class="container text-center mt-4 pt-4 mb-4 pb-4">
        <h2 class="heading-1 mt-4 pt-4"><strong>Controlá tu Estacionamiento</strong></h2>
        <h6 class="h5 ht mt-4">Estaciona.com ofrece la experiencia profesional y atencion personalizada con la cercania de una empresa local, con todas las capacidades, red y fuerza de una empresa global</h6>
      </div>
    </div>
    <div class="content-block content light">
      <div class="container-fluid">
        <div class="container">
          <div class="rows row1">
            <div class="col-lg-4 col-sm-12 col-md-4 text-center mb-4 pb-4 animated fadeInLeft">
              <img class="col-4" src="images/form-icon.png">
              <span class="col-12 float-left text-primary font-weight-bold mt-2 mb-2">INCREMENTA TUS INGRESOS</span>
              <p class="mr-4 ml-4">
                Atrae nuevos clientes a través de nuestra app y aumenta tus ingresos hasta un 30%.
              </p>
            </div>
            <div class="col-lg-4 col-sm-12 col-md-4 text-center mb-4 pb-4 animated fadeInUp">
              <img class="col-4" src="images/qr-icon.png">
              <span class="col-12 float-left text-primary font-weight-bold mt-2 mb-2">MEJORA LA EXPERIENCIA DE TUS CLIENTES</span>
              <p class="mr-4 ml-4">
                Destaca tu servicio con nuestro sistema de pago QR y hace que nuestros conductores te sigan eligiendo
              </p>
            </div>
            <div class="col-lg-4 col-sm-12 col-md-4 text-center animated fadeInRight">
              <img class="col-4" src="images/cash-icon.png">
              <span class="col-12 float-left text-primary font-weight-bold mt-2 mb-2">DALE MAS VISIBILIDAD</span>
              <p class="mr-4 ml-4">
                Guiamos a nuestros conductores directamente a tu estacionamiento ofreciendo una inigualable experiencia de usuario con toda la información de tarifas, horarios, y servicios.
              </p>
            </div>
            <div class="col-12 text-center mt-4 pt-4 animatedoff fadeInUp">
              <button type="button" class="btn btn-md sandwich">
                Empezá ya mismo
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pasos-step">
    <div class="container text-center mb-5">
      <h2 class="heading-1 mt-4"><strong>Como pagar</strong></h2>
      <h6 class="h5 ht mt-4">Un sistema en tiempo real, para operaciones en tiempo real.</h6>
    </div>
    <div class="container">
      <div class="rows">
        <div class="col-sm-4 paso-1">
          <div class="pasos-desc">
            <span>1</span>
            <h4>Paso 1</h4>
            <p>
              Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in
            </p>
          </div>
        </div>
        <div class="col-sm-4 paso-2">
          <div class="pasos-desc1">
            <span class="linea">2</span>
            <h4>Paso 2</h4>
            <p>
              Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in
            </p>
          </div>
        </div>
        <div class="col-sm-4 paso-3">
          <div class="pasos-desc">
            <span>3</span>
            <h4>Paso 3</h4>
            <p>
              Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="background1 col-12">
    <div class="container row">
      <div class="col-lg-6">
        <div class="panel pricing-table1">
          <div class="pricing-plan">
            <img src="https://i.postimg.cc/FR30Gy0M/Screen-Shot-2018-11-06-at-00-45-14.png" alt="" class="pricing-img">
            <ul class="pricing-features">
              <li class="pricing-features-item">Gestioná tu anuncio</li>
              <li class="pricing-features-item">Aparecé en nuestro mapa interactivo</li>
            </ul>
            <br><br>
            <span class="pricing-price">Gratis</span>
            <button class="btn mt-4 mb-4 sandwich">Registrate</button>
          </div>
      </div>
      </div>
      <div class="col-lg-6">
        <div class="panel pricing-table1">
          <div class="pricing-plan">
            <img src="https://i.postimg.cc/3wyX05NJ/Screen-Shot-2018-11-06-at-00-45-34.png" alt="" class="pricing-img">
            <ul class="pricing-features">
              <li class="pricing-features-item">Administrá tus ventas</li>
              <li class="pricing-features-item">Destacate en nuestro mapa interactivo</li>
              <li class="pricing-features-item">AceptÁ todos los medios de pago</li>
            </ul>
            <span class="pricing-price">A MEDIDA</span>
            <button class="btn mt-4 mb-4 sandwich">Elegir</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>app.privadosView();</script>