<!-- FAQS -->
<section class="bg-primary mt-5"><h6 class="section-title h1 text-white">Preguntas Frecuentes</h6></section>
<section id="tabs">
  <div class="container">
    <div class="rows">
      <div class="col-12">
        <div>
          <ul class="nav nav-tabs nav-fill mb-4">
            <li class="nav-item nav-link in active" data-toggle="tab" href="#nav-privados" role="tab">Privados</li>
            <li class="nav-item nav-link" data-toggle="tab" href="#nav-publicos" role="tab" >Publicos</li>
            <li class="nav-item nav-link" data-toggle="tab" href="#nav-aplicacion" role="tab">Aplicación</li>
            <li class="nav-item nav-link" data-toggle="tab" href="#nav-infracciones" role="tab">Infracciones</li>
          </ul>
        </div>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show in active" id="nav-privados" aria-labelledby="nav-privados-tab">
                <div class="accordion-heading arrow" data-toggle="collapse" href="#pregunta1">
                  <a class="colorhead">Pregunta 1</a>
                </div>
                <div id="pregunta1" class="collapse show">
                  <div class="accordion-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, voluptas, magnam, officiis, veritatis rerum amet enim in repellendus quae reprehenderit aut ipsum corporis dolore maxime cumque labore incidunt ad iusto maiores error doloribus. Similique, sequi, laboriosam voluptatum omnis nobis incidunt exercitationem facilis voluptatibus maxime harum accusantium tempore magni voluptate qui velit fugit iste quis aut possimus a praesentium ad in quia. Necessitatibus, excepturi, iste, quisquam expedita ratione quibusdam in ex nobis omnis odit voluptates veritatis recusandae sit. Adipisci perspiciatis laudantium vitae quaerat. Porro, mollitia, sequi cupiditate ratione cumque aut laboriosam fuga et nostrum officia. Expedita, vitae officia recusandae eius assumenda.
                  </div>
                </div>
                <div class="accordion-heading arrow" data-toggle="collapse" href="#pregunta2">
                  <a class="colorhead">Pregunta 2</a>
                </div>
                <div id="pregunta2" class="collapse">
                  <div class="accordion-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, voluptas, magnam, officiis, veritatis rerum amet enim in repellendus quae reprehenderit aut ipsum corporis dolore maxime cumque labore incidunt ad iusto maiores error doloribus. Similique, sequi, laboriosam voluptatum omnis nobis incidunt exercitationem facilis voluptatibus maxime harum accusantium tempore magni voluptate qui velit fugit iste quis aut possimus a praesentium ad in quia. Necessitatibus, excepturi, iste, quisquam expedita ratione quibusdam in ex nobis omnis odit voluptates veritatis recusandae sit. Adipisci perspiciatis laudantium vitae quaerat. Porro, mollitia, sequi cupiditate ratione cumque aut laboriosam fuga et nostrum officia. Expedita, vitae officia recusandae eius assumenda.
                  </div>
                </div>
                <div class="accordion-heading arrow" data-toggle="collapse" href="#pregunta3">
                  <a class="colorhead">Pregunta 3</a>
                </div>
                <div id="pregunta3" class="collapse">
                  <div class="accordion-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, voluptas, magnam, officiis, veritatis rerum amet enim in repellendus quae reprehenderit aut ipsum corporis dolore maxime cumque labore incidunt ad iusto maiores error doloribus. Similique, sequi, laboriosam voluptatum omnis nobis incidunt exercitationem facilis voluptatibus maxime harum accusantium tempore magni voluptate qui velit fugit iste quis aut possimus a praesentium ad in quia. Necessitatibus, excepturi, iste, quisquam expedita ratione quibusdam in ex nobis omnis odit voluptates veritatis recusandae sit. Adipisci perspiciatis laudantium vitae quaerat. Porro, mollitia, sequi cupiditate ratione cumque aut laboriosam fuga et nostrum officia. Expedita, vitae officia recusandae eius assumenda.
                  </div>
                </div>
              <p>Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.</p>
          </div>
          <div class="tab-pane fade" id="nav-publicos" aria-labelledby="nav-publicos-tab">

            <p>Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.</p>
          </div>
          <div class="tab-pane fade" id="nav-aplicacion" aria-labelledby="nav-aplicacion-tab">
              
            <p>Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.</p>
          </div>
          <div class="tab-pane fade" id="nav-infracciones" aria-labelledby="nav-infracciones-tab">
              
            <p>Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.</p>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- ./FAQS -->