<section class="banner nav_blue">
    <div class="text_content ml-lg-3">
        <div>
            <h1 class="hero-heading m-0">Reinventando el <br class="hidden-xs-down">estacionamiento en <br class="hidden-xs-down">America Latina<br class="hidden-xs-down">
            </h1>
            <h2>Desbloqueá el potencial de tu ciudad con <strong>Estaciona.com</strong></h2>
            <button class="ml-4 shadow btn btn-secondary">Ver App</button>
            <button class="ml-4 shadow btn bt">Conocenos</button>
            <br>
            <br>
            <span class="ml-4 pl-2 mt-4 text-center d-none">¿Buscas la App? <a class="text-white1" href="#">Bajátela Aqui.</a></span>
        </div>
    </div>
    <div class="dispositivos">
        <div class="tablet">
            <img src="images/admin.png" alt="">
        </div>
        <div class="movil">
            <img src="images/iphone.png" alt="">
        </div>
    </div>
</section>
<hr class="divider">
<div class="content-block bg-lig content light nav_white text-lg-left text-md-left">
    <div class="container-fluid">
        <div class="row pt-4 pb-4 nav_white">
            <div id="animated-div" class="col-lg-6 col-md-6 content-block-info float-left">
                <div class="divisionlanding hidden-sm-down animatedoff fadeInLeft delay-2"></div>
                <div class="center pl-4 pr-4 tp">
                    <h2 class="heading-2 tp ml-lg-2">
                        <strong class="bolder">Una Plataforma,<br> Multiples Soluciones.</strong>
                    </h2>
                    <p class="ml-lg-2 parrafo">Soluciones en la nube capaces de cubrir de manera integral las necesidades en la gestion del <strong>estacionamiento medido</strong> y de <strong>estacionamientos privados.</strong>
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 float-right mt-4 pt-lg-0 pt-4 content-block-info ">
                <div class="content-block-info">
                    <div class="center pr-lg-4">
                        <h2 class="heading-2 titulos"><strong>Estacionamiento Medido</strong></h2>
                        <p class="parrafo">Te traemos el futuro sin la necesidad de costosas inversiones.</p>
                        <button type="button" class="btn mt-4 mb-4 sandwich">Ver más</button>
                    </div>
                </div>
                <div class="content-block-info mt-4 pt-lg-4">
                    <div class="center pr-lg-4">
                        <h2 class="heading-2 titulos"><strong>Estacionamientos Privados</strong></h2>
                        <p class="parrafo">Conectate con nuestra comunidad de conductores.</p>
                        <button type="button" class="btn mt-4 mb-4 sandwich">Ver más</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="fondo d-none">
    <div class="content-block content light text-center">
        <div class="container text-center mb-2 mt-4 pt-4">
            <h2 class="heading-1 mt-4 pt-4"><strong>Controlá tu estacionamiento</strong></h2>
            <h6 class="h5 ht mt-4">Un sistema en tiempo real, para operaciones en tiempo real.</h6>
        </div>
    </div>
    <div class="content-block content light pt-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 push-lg-6 content-block-inf p-5 pl-4 pr-4">
                    <div class="center mb-4">
                        <p class="text-left">
                            <strong>Accedé a la información de tu estacionamiento desde cualquier dispositivo... (falta)...</strong>
                        </p>
                    </div>
                    <ul class="mb-4 circles">
                        <li>Control de facturación.</li>
                        <li>Control de actividad de tu equipo de gestión.</li>
                        <li>Estadisticas y reportes historicos y actuales para mejorar rendimiento.</li>
                    </ul>
                </div>
                <div class="col-lg-6 pull-lg-6 img5 mt-4 rounded-2">
                    <img class="content-block-img" src="images/fondo-block.png">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="fondo section2 d-none"><!--beneficios publicos-->
  <div class="content-block content light text-center pt-0">
    <div class="container text-center mt-4 mb-4 pb-4">
      <h2 class="heading-1 mt-4 pt-4"><strong>Controlá tu Estacionamiento</strong></h2>
      <h6 class="h5 ht mt-4">Estaciona.com ofrece la experiencia profesional y atencion personalizada con la cercania de una empresa local, con todas las capacidades, red y fuerza de una empresa global.</h6>
    </div>
  </div>
  <div class="col-lg-12 displand"></div>
  <div class="content-block content light">
    <div class="container-fluid">
      <div class="container">
        <div class="rows row1">
          <div class="col-lg-4 col-sm-12 col-md-4 text-center mb-4 pb-4">
            <img class="col-4 beneficios" src="images/graphic-benefits-landing.png">
            <span class="col-12 float-left text-primary font-weight-bold mt-2 mb-2">Aumentá tu Rentabilidad</span>
            <p class="mr-4 ml-4 beneficio">
              Atraé mas clientes y empezá a cobrar con la mayoria de los medios de pago
            </p>
          </div>
          <div class="col-lg-4 col-sm-12 col-md-4 text-center mb-4 pb-4">
            <img class="col-4 beneficios" src="images/management-benefits-landing.png">
            <span class="col-12 float-left text-primary font-weight-bold mt-2 mb-2">Mejorá tu Administración</span>
            <p class="mr-4 ml-4 beneficio">
              Digitalizá procesos relacionados al Estacionamiento
            </p>
          </div>
          <div class="col-lg-4 col-sm-12 col-md-4 text-center">
            <img class="col-4 beneficios" src="images/social-benefits-landing.png">
            <span class="col-12 float-left text-primary font-weight-bold mt-2 mb-2">Conectá tu Comunidad</span>
            <p class="mr-4 ml-4 beneficio">
              Soluciones en la nube de facil uso que conectan a los conductores
            </p>
          </div>
          <div class="col-12 text-center animatedoff fadeInUp">
            <button type="button" class="btn btn-md sandwich">
              Empezá ya mismo
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="fondo section2">
  <div class="content-block content light text-center pt-0">
    <div class="container text-center mt-4 pt-4 mb-4 pb-4">
      <h2 class="heading-1 mt-4 pt-4"><strong>Beneficios de Estaciona.com</strong></h2>
      <h6 class="h5 ht mt-4">Estaciona.com ofrece la atención personalizada y cercanía de una empresa local, con la experiencia profesional y potencial de una empresa global.</h6>
    </div>
  </div>
  <div class="content-block content light pt-0">
    <div class="container-fluid">
      <div class="container">
        <div class="rows row1">
          <div class="col-lg-4 col-sm-12 col-md-4 text-center mb-4 pb-4">
            <img class="col-4" src="images/form-icon.png">
            <span class="col-12 float-left font-weight-bold mt-2 mb-2">Aumentá tu Rentabilidad</span>
            <p class="mr-4 ml-4 beneficiohome">
              Atraé mas clientes y empezá a cobrar con la mayoria de los medios de pago
            </p>
          </div>
          <div class="col-lg-4 col-sm-12 col-md-4 text-center mb-4 pb-4">
            <img class="col-4" src="images/qr-icon.png">
            <span class="col-12 float-left font-weight-bold mt-2 mb-2">Mejorá tu Administración</span>
            <p class="mr-4 ml-4 beneficiohome">
              Digitalizá procesos relacionados al Estacionamiento
            </p>
          </div>
          <div class="col-lg-4 col-sm-12 col-md-4 text-center">
            <img class="col-4" src="images/cash-icon.png">
            <span class="col-12 float-left font-weight-bold mt-2 mb-2">Conectá tu Comunidad</span>
            <p class="mr-4 ml-4 beneficiohome">
              Soluciones en la nube de fácil uso que conectan a los conductores
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="col-lg-12 align-lg-right">
    <div class="rows">
        <div class="slider">
            <div class="slide-track">
                <div class="slide">
                    <img class="img" src="http://jean.4boot.com.ve/pruebas/2/images/maestro-logos.png" height="100" width="250" alt="">
                </div>
                <div class="slide">
                    <img class="img" src="http://jean.4boot.com.ve/pruebas/2/images/visa-logos.png" height="100" width="250" alt="">
                </div>
                <div class="slide">
                    <img class="img" src="http://jean.4boot.com.ve/pruebas/2/images/maestro-logos.png" height="100" width="250" alt="">
                </div>
                <div class="slide">
                    <img class="img" src="http://jean.4boot.com.ve/pruebas/2/images/maestro-logos.png" height="100" width="250" alt="">
                </div>
                <div class="slide">
                    <img class="img" src="http://jean.4boot.com.ve/pruebas/2/images/amex-logos.png" height="100" width="250" alt="">
                </div>
                <div class="slide">
                    <img class="img" src="http://jean.4boot.com.ve/pruebas/2/images/maestro-logos.png" height="100" width="250" alt="">
                </div>
                <div class="slide">
                    <img class="img" src="http://jean.4boot.com.ve/pruebas/2/images/amex-logos.png" height="100" width="250" alt="">
                </div>
                <div class="slide">
                    <img class="img" src="http://jean.4boot.com.ve/pruebas/2/images/maestro-logos.png" height="100" width="250" alt="">
                </div>
                <div class="slide">
                    <img class="img" src="http://jean.4boot.com.ve/pruebas/2/images/visa-logos.png" height="100" width="250" alt="">
                </div>
                <div class="slide">
                    <img class="img" src="http://jean.4boot.com.ve/pruebas/2/images/visa-logos.png" height="100" width="250" alt="">
                </div>
                <div class="slide">
                    <img class="img" src="http://jean.4boot.com.ve/pruebas/2/images/visa-logos.png" height="100" width="250" alt="">
                </div>
                <div class="slide">
                    <img class="img" src="http://jean.4boot.com.ve/pruebas/2/images/amex-logos.png" height="100" width="250" alt="">
                </div>
                <div class="slide">
                    <img class="img" src="http://jean.4boot.com.ve/pruebas/2/images/visa-logos.png" height="100" width="250" alt="">
                </div>
                <div class="slide">
                    <img class="img" src="http://jean.4boot.com.ve/pruebas/2/images/amex-logos.png" height="100" width="250" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="rows d-none">
        <div class="col-6 col-sm-6 col-lg-1">
            <a class="img-card" href="http://www.estaciona.com">
                <img src="images/visa-logos.png">
            </a>
        </div>
        <div class="col-6 col-sm-6 col-lg-1">
            <a class="img-card" href="http://www.estaciona.com">
                <img src="images/mastercard-logos.png">
            </a>
        </div>
        <div class="col-6 col-sm-6 col-lg-1">
            <a class="img-card" href="http://www.estaciona.com">
                <img src="images/visa-logos.png">
            </a>
        </div>
        <div class="col-6 col-sm-6 col-lg-1">
            <a class="img-card" href="http://www.estaciona.com">
                <img src="images/mastercard-logos.png">
            </a>
        </div>
        <div class="col-6 col-sm-6 col-lg-1 hidden-md-down">
            <a class="img-card" href="http://www.estaciona.com">
                <img src="images/maestro-logos.png">
            </a>
        </div>
        <div class="col-6 col-sm-6 col-lg-1 hidden-md-down">
            <a class="img-card" href="http://www.estaciona.com">
                <img src="images/visa-logos.png">
            </a>
        </div>
        <div class="col-6 col-sm-6 col-lg-1 hidden-md-down">
            <a class="img-card" href="http://www.estaciona.com">
                <img src="images/amex-logos.png">
            </a>
        </div>
        <div class="col-6 col-sm-6 col-lg-1 hidden-md-down">
            <a class="img-card" href="http://www.estaciona.com">
                <img src="images/visa-logos.png">
            </a>
        </div>
        <div class="col-6 col-sm-6 col-lg-1 hidden-md-down">
            <a class="img-card" href="http://www.estaciona.com">
                <img src="images/visa-logos.png">
            </a>
        </div>
        <div class="col-6 col-sm-6 col-lg-1 hidden-md-down">
            <a class="img-card" href="http://www.estaciona.com">
                <img src="images/visa-logos.png">
            </a>
        </div>
        <div class="col-6 col-sm-6 col-lg-1 hidden-md-down">
            <a class="img-card" href="http://www.estaciona.com">
                <img src="images/visa-logos.png">
            </a>
        </div>
        <div class="col-6 col-sm-6 col-lg-1 hidden-md-down">
            <a class="img-card" href="http://www.estaciona.com">
                <img src="images/visa-logos.png">
            </a>
        </div>
    </div>
</div>
<section class="appscontain bg-primary nav_white2">
    <div class="contapps">
        <div class="appstext">
            <h2 class="heading-1">
                <strong>Encontrá y pagá el mejor lugar para tu auto </strong>
            </h2>
            <p class="parrafo mb-4 mt-5">Descargate la app y empezá a ahorrar tiempo y dinero en tu búsqueda de estacionamiento.</p>
            <span class="mt-2 text-center font3">¿Deseas saber más? <a class="text-white1" href="#">Hacé click aquí</a></span>
            <ul class="mb-4 text-center mt-5">
                <a href="#" class="mr-4"><img class="os" alt="Playstore" src="images/playstore2.png"></a>
                <a href="#"><img class="os" alt="Applestore" src="images/appstore2.png"></a>
                <button class="btn bt d-none">Ver App</button>  
            </ul>
        </div>
        <div class="appsimages">
            <!--<img class="col-lg-12 col-sm-12 p-0 float-left animated fadeInUp" src="images/smartphones.png">-->
            <img class="animatedoff fadeInUp delay-2 appsimage" src="images/1smartphone.png">
            <img class="animatedoff fadeInDown delay-4 appsimage" src="images/2smartphone.png">
            <img class="animatedoff fadeInUp delay-6 appsimage" src="images/3smartphone.png">
        </div>
    </div>
</section>
<section class="fondo d-none">
    <div class="content-block content light text-center">
        <div class="container text-center mb-2 mt-4 pt-4">
            <h2 class="heading-1 mt-4 pt-4"><strong>Controlá tu estacionamiento</strong></h2>
            <h6 class="h5 ht mt-4">Un sistema en tiempo real, para operaciones en tiempo real.</h6>
        </div>
    </div>
    <div class="content-block content light pt-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 push-lg-6 content-block-inf p-5 pl-4 pr-4">
                    <div class="center mb-4">
                        <p class="text-left">
                            <strong>Accedé a la información de tu estacionamiento desde cualquier dispositivo... (falta)...</strong>
                        </p>
                    </div>
                    <ul class="mb-4 circles">
                        <li>Control de facturación.</li>
                        <li>Control de actividad de tu equipo de gestión.</li>
                        <li>Estadisticas y reportes historicos y actuales para mejorar rendimiento.</li>
                    </ul>
                </div>
                <div class="col-lg-6 pull-lg-6 mt-4 smt rounded-2">
                    <!--<img class="content-block-img imgsmt" src="images/1smartphone.png">
                    <img class="content-block-img imgsmt" src="images/2smartphone.png">
                    <img class="content-block-img imgsmt" src="images/3smartphone.png">-->
                    <img class="content-block-img" src="images/fondo-block.png">

                    <!--<img class="col-lg-12 col-sm-12 p-0 float-left animated fadeInUp" src="images/smartphones.png">-->
                    <!--<img class="col-lg-4 pull-lg-2 pull-sm-0 col-sm-3 p-0 float-left animated fadeInUp" src="images/usuarios-phone-1.png">
                    <img class="col-lg-4 pull-lg-1 pull-sm-0 col-sm-3 p-0 float-left mt-4 pt-4 animated fadeInDown" src="images/usuarios-phone-2.png">
                    <img class="col-lg-4 col-sm-3 p-0 float-left animated fadeInUp" src="images/usuarios-phone-3.png">-->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="fondo d-none">
    <div class="content-block content light text-center">
        <div class="container text-center mt-4 pt-4">
            <h2 class="heading-1 mt-4 pt-4"><strong>Optimizá tu rentabilidad</strong></h2>
            <br>
            <h6 class="h5 ht">Una solución en la nube diseñada para mejorar la gestión del estacionamiento.</h6>
        </div>
    </div>
    <div class="content-block content light">
        <div class="container-fluid">
            <div class="row row1">
                <div class="col-lg-6 pl-5 pr-5 content-block-info">
                    <div class="center mb-4">
                        <p class="text-justify">
                            <strong>Incrementá tus ingresos conectandote con tus clientes y reducí tus costos operativos eliminando procesos manuales.</strong>
                        </p>
                    </div>
                    <ul class="mb-4 circles">
                        <li>Nuevos clientes mediante la App.</li>
                        <li>Digitalización de tus pagos.</li>
                        <li>(falta)...</li>
                        <li>(falta)...</li>
                    </ul>
                </div>
                <div class="col-lg-6 align-lg-right img1">
                    <img class="content-block-img" src="images/fondo-block.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="fondo d-none">
    <div class="content-block content light text-center">
        <div class="container text-center mt-4 pt-4 mb-4 pb-4">
            <h2 class="heading-1 mt-4 pt-4"><strong>Mejorá la experiencia de tus clientes</strong></h2>
            <br>
            <h6 class="h5 ht">Una aplicación con la mejor experiencia de usuario y todos los medios de pago.</h6>
        </div>
    </div>
    <div class="content-block bg-ligh content light">
        <div class="container-fluid">
            <div class="row row1">
                <div class="col-lg-6 push-lg-6 pr-5 pl-5 col-lg-offset-1 content-block-info">
                    <div class="center mb-4">
                        <p class="text-justify">
                            <strong>Ofrecé a los conductores la posibilidad de encontrar y abonar tu estacionamiento como ellos prefieran de manera fácil y segura.</strong>
                        </p>
                    </div>
                    <ul class="mb-4 circles">
                        <li>Mapa interactivo con disponibilidad en tiempo real.</li>
                        <li>Acceso y soporte.</li>
                        <li>Pagos digitales y seguros.</li>
                        <li>Navegacion... (falta)...</li>
                    </ul>
                </div>
                <div class="col-lg-6 pull-lg-6 img2">
                    <img class="content-block-img" src="images/fondo-block.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="fondo d-none">
    <div class="content-block content light text-center">
        <div class="container text-center mt-4 pt-4">
            <h2 class="heading-1 mt-4 pt-4 d-none"><strong>Lorem ipsum dolor sit amet.<br>sit amet, placerat enim.</strong></h2>
            <h6 class="h5 ht d-none">Lorem ipsum dolor sit amet consecutur,<br>quam minimun credula POSTERO.</h6>
        </div>
    </div>
    <div class="content-block content light">
        <div class="container-fluid">
            <div class="rows row1">
                <div class="col-lg-6 pr-5 pl-5 content-block-info">
                    <div class="center mb-4">
                        <h2 class="heading-2"><strong>Medios de pago</strong></h2>
                        <p style="text-align: justify;">
                            Los puntos de pago adheridos son equipados con <strong>Terminales Multipropósito</strong> para facilitar el pago del estacionamiento medido mediante efectivo, tarjetas magnéticas, y tarjetas de Crédito y Débito. El ciudadano a su vez puede descargar una <a href="/app">App gratuita</a> y abonar su estadía con mayor agilidad desde donde se encuentre.
                        </p>
                    </div>
                    <ul class="mb-4 circles">
                        <li>La empresa mas sofisticada de Argentina en Smart Parking</li>
                        <li>Acceso y soporte</li>
                        <li>Reporte a través de un sistema de administración centralizado</li>
                        <li>Lorem ipsum dolor.</li>
                    </ul>
                </div>
                <div class="col-lg-6 align-lg-right">
                    <div class="row anim">
                        <div class="col-6 col-xs-12 col-sm-6 mt-4 rounded-1">
                            <div class="">
                                <a class="img-card" href="http://www.estaciona.com">
                                    <img src="images/visa-logos.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-xs-12 col-sm-6 mt-4">
                            <div class="">
                                <a class="img-card" href="http://www.estaciona.com">
                                    <img src="images/mastercard-logos.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-xs-12 col-sm-6">
                            <div class="">
                                <a class="img-card" href="http://www.estaciona.com">
                                    <img src="images/maestro-logos.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-xs-12 col-sm-6">
                            <div class="">
                                <a class="img-card" href="http://www.estaciona.com">
                                    <img src="images/amex-logos.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="fondo d-none">
    <div class="content-block content light text-center">
        <div class="container text-center mt-4 pt-4">
            <h2 class="heading-1 mt-4"><strong>Lorem ipsum dolor sit amet.<br>sit amet, placerat enim.</strong></h2>
            <br>
            <h6 class="h5 ht">Lorem ipsum dolor sit amet consecutur,<br>quam minimun credula POSTERO.</h6>
        </div>
    </div>
    <div class="content-block bg-ligh content light">
        <div class="container-fluid">
            <div class="row row1">
                <div class="col-lg-6 pr-5 pl-5 push-lg-6 col-lg-offset-1 content-block-info">
                    <div class="center mb-4">
                        <h2 class="heading-2"><strong>Fiscalización</strong></h2>
                        <p class="text-justify">
                            Estaciona.com mejora la seguridad vial de las ciudades utilizando la más avanzada tecnología de control vehicular. Las terminales inteligentes logran agilizar un 72% el proceso de fiscalización gracias a su <strong>lector de patentes</strong>                                    que brinda al inspector de transito información en tiempo real.
                        </p>
                    </div>
                    <ul class="mb-4 circles">
                        <li>La empresa mas sofisticada de Argentina en Smart Parking</li>
                        <li>Acceso y soporte</li>
                        <li>Reporte a través de un sistema de administración centralizado</li>
                        <li>Lorem ipsum dolor.</li>
                    </ul>
                </div>
                <div class="col-lg-6 pull-lg-6 img4 mt-4">
                    <img class="content-block-img" src="images/fondo-block.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="true">
    <div class="content-block content light text-center">
        <div class="container text-center">
            <h2 class="heading-1 mt-4"><strong>Noticias Relacionadas</strong></h2>
            <h6 class="h5 ht mt-4 d-none">Lorem ipsum dolor sit amet consecutur</h6>
        </div>
    </div>
    <div class="controls-top invisible">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
    </div>
    <div class="carousel-inner" role="listbox">
        <div class="content">
            <div class="container" style="margin-bottom: 20px;">
                <div class="rows" style="align-items: center;">
                    <div class="carousel-item active col-xs-12 col-md-4 col-lg-4 clearfix d-md-block">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mt-2">La Nación</h4>
                            </div>
                            <p class="card-text mr-4 ml-4 mb-4 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem dui, molestie ut tempor sit amet...</p>
                            <a class="img" href="http://www.estaciona.com">
                                <img class="card-img-top" src="https://2.bp.blogspot.com/-qdzebY9FTpg/Wv9qMHBQvHI/AAAAAAAArw0/LcCGXcFLnssNyJnb-PYTG2_z-nXymE1SQCEwYBhgL/s1600/Actualizamos%2Bla%2Baplicaci%25C3%25B3n%2Bm%25C3%25B3vil%2Bde%2BEstacionamiento%2BMedido.jpg" alt="">
                            </a>
                            <div class="card-read-more">
                                <a href="http://www.estaciona.com" class="btn btn-link btn-block">Leer mas</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item col-xs-12 col-md-4 col-lg-4 clearfix d-md-block">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mt-2">La Nación</h4>
                            </div>
                            <p class="card-text mr-4 ml-4 mb-4 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem dui, molestie ut tempor sit amet...</p>
                            <a class="img" href="http://www.estaciona.com">
                                <img class="card-img-top" src="images/control-y-eficiencia.jpg" alt="">
                            </a>
                            <div class="card-read-more">
                                <a href="http://www.estaciona.com" class="btn btn-link btn-block">Leer mas</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item col-xs-12 col-md-4 col-lg-4 clearfix d-md-block">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mt-2">La Nación</h4>
                            </div>
                            <p class="card-text mr-4 ml-4 mb-4 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem dui, molestie ut tempor sit amet...</p>
                            <a class="img" href="http://www.estaciona.com">
                                <img class="card-img-top" src="images/control-y-eficiencia.jpg" alt="">
                            </a>
                            <div class="card-read-more">
                                <a href="http://www.estaciona.com" class="btn btn-link btn-block">Leer mas</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" style="height: 10vh; margin-bottom: 10px;">
                <ol class="carousel-indicators hidden-md-up">
                    <li data-target="#multi-item-example" data-slide-to="0" data-ride="true" class="active"></li>
                    <li data-target="#multi-item-example" data-slide-to="1" data-ride="true"></li>
                    <li data-target="#multi-item-example" data-slide-to="2" data-ride="true"></li>
                </ol>
            </div>
        </div>
    </div>
</div>