<section class="bg-primary mt-5 nav_blue"><h6 class="section-title h1 text-white">Politicas de Privacidad</h6></section>

<div class="container content-block-info nav_white politics">
	<div class="division"></div>
	<p class="text-muted d-none">
	<strong>Politica de Privacidad de Estaciona.com</strong></p>

	<p><strong>Introducción</strong></p>

	<p>Estaciona.com, respeta su privacidad y se compromete a protegerla a través del cumplimiento de esta Política de Privacidad. Esta Política describe nuestras prácticas de privacidad con respecto a nuestras aplicaciones y sitios web. Esta Política no se aplica a las prácticas de terceros que puedan proporcionar servicios o funciones en nuestras aplicaciones o sitios web.</p>

	<p>Para comprender nuestras políticas y prácticas relacionadas con su información y cómo la trataremos por favor lea esta Política detalladamente. Si usted no está de acuerdo con nuestra política y prácticas, no descargue, registre o utilice el servicio. Al descargar, registrarse o utilizar el servicio, usted acepta esta Política de Privacidad. Esta Política puede cambiar de vez en cuando. El uso continuo del servicio después de hacer cambios a esta Politica será considerado como la aceptación de dichos cambios, por lo que le rogamos que revise periódicamente dicha política.</p>

	<p>En virtud del art. 5 de la Ley 25.326 de Protección de Datos Personales, los Usuarios prestan su consentimiento para el tratamiento libre y gratuito de los datos personales que han proporcionado al utilizar nuestras aplicaciones o sitios web.</p>

	<p><strong>Información que Recopilamos y Como la Recopilamos</strong></p>

	<p><strong><u>Información que Usted Nos Proporciona</u></strong></p>

	<p>Al descargar, registrarse o usar nuestras aplicaciones o sitios web, podemos pedirle que proporcione cierta información como:</p>

	<p>Información Personal. Por la cual usted puede ser identificado personalmente, incluyendo, pero no limitado a nombre, número de teléfono, dirección postal y dirección de correo electrónico.</p>

	<p>Información de Pago. Si realiza compras o crea una cuenta, podemos recopilar la información de su tarjeta de crédito y facturación. </p>

	<p>Información del Vehículo. Podemos recolectar el número de su matrícula o patente.</p>

	<p>Información de Transacciones. Detalles de las transacciones realizadas a través de nuestras aplicaciones y verificación de tales.</p>

	<p><strong><u>Recopilacion Automatica de Informacion</u></strong></p>

	<p>Al descargar, acceder o utilizar nuestras aplicaciones o sitios web, estos pueden utilizar tecnologías que recopilan información automáticamente:

	<p><strong>Detalles del Sitio Web.</strong> Podemos recopilar información sobre las partes de nuestras aplicaciones o sitios web que usted usa o sitios web de terceros que visita cuando abandona nuestro sitio web. Podemos trabajar con terceros que recopilan información sobre usted cuando usa nuestras aplicaciones.</p>

	<p><strong>Detalles del Uso de las Aplicaciones.</strong> Al acceder y utilizar las aplicaciones, podemos recopilar automáticamente ciertos detalles de su acceso y uso en las aplicaciones, incluyendo datos de ubicación y comunicación, así como los recursos a los que accede y utiliza en las aplicaciones.</p>

	<p>strong>Información del Dispositivo.</strong> Si descarga nuestras aplicaciones, podemos recopilar información de Su dispositivo móvil.</p>

	<p><strong>Información Sobre su Ubicación.</strong> Para proporcionarle y facilitarle el uso de nuestros servicios, nuestras aplicaciones recopilan información en tiempo real sobre la ubicación de su dispositivo móvil.</p>

	<p><strong>Otra Información.</strong> Podemos recopilar información sobre su dirección IP, sistema operativo, tipo de navegador, información de la red móvil y el número telefónico del dispositivo.</p>

	<p><strong>Como Usamos Su Información</strong></p>

	<p><strong>La información que recopilamos sobre usted o que usted nos proporciona la utilizamos para:</strong></p>

	<p><strong>Responder sus Solicitudes o Preguntas.</strong> Por ejemplo, podemos utilizar su información para ayudarle a acceder a su cuenta si llegase a olvidar su contraseña.</p>

	<p><strong>Mejorar Nuestros Productos y Servicios.</strong> Podemos utilizar la información para personalizar y mejorar su experiencia. Por ejemplo, podemos ver tendencias de uso para asegurarnos de que nuestros sitios web y aplicaciones sean fáciles de usar.</p>

	<p><strong>Fines de Seguridad.</strong> Podemos utilizar la información para proteger nuestra empresa, nuestros clientes, nuestros sitios web o nuestras aplicaciones.</p>

	<p><strong>Proporcionar Actualizaciones.</strong> Por ejemplo, podemos enviarle un correo electrónico o notificaciones push sobre su cuenta, transacciones, cambios en nuestros sitios web, aplicaciones o políticas.</p>

	<p><strong>Nuestros Propósitos Comerciales Legítimos.</strong> También utilizaremos su información para cumplir con cualquier otro propósito para el cual usted haya proporcionado dicha información. Podemos utilizar la información que usted nos proporcione para cumplir con nuestras obligaciones y hacer cumplir nuestros derechos derivados de cualquier contrato firmado entre usted y nosotros, incluyendo facturación y cobro. Podemos combinar la información que recibimos de terceros con información que ya tenemos.</p>

	<p><strong>De Cualquier Forma Permitida por la Ley.</strong></p>

	<p><strong>Divulgación de Su Información</strong></p>

	<p><strong>Podemos divulgar información agregada sobre nuestros usuarios sin restricción alguna. Además, podemos divulgar información personal que recopilamos o que usted nos proporcione de las siguientes maneras:</strong></p>

	<p><strong>Operadores.</strong> Podemos compartir información con proveedores de estacionamiento para que usted pueda usar sus servicios y para apoyar el proceso de administración y fiscalización o control.</p>

	<p><strong>Proveedores de Servicio.</strong> Podemos compartir información con contratistas, proveedores de servicios y otros terceros que utilizamos para dar soporte a nuestro negocio.</p>

	<p><strong>Cambios en la Estructura Corporativa.</strong>En el caso de una fusión, venta, reestructuración, reorganización, disolución u otra venta o transferencia de algunos o todos los activos de Estaciona.com, compartiremos información con un posible comprador o sucesor, ya sea actuando como una empresa con estatus operativo o en quiebra, o estatus similar, en el cual la información personal se encuentra entre los activos transferidos.</p>

	<p><strong>Para Proteger nuestros Derechos y Seguridad.</strong> Si creemos que la divulgación es necesaria o apropiada para proteger los derechos, propiedad o seguridad de Estaciona.com, o de nuestros clientes u otros.</p>

	<p><strong>Para Fines Legales.</strong> Para cumplir con cualquier orden judicial, ley o proceso legal, incluyendo respuesta a cualquier solicitud gubernamental o regulatoria.</p>

	<p><strong>A nuestras Subsidiarias y Afiliadas.</strong></p>

	<p><strong>Para Cualquier Otro Propósito que Declaremos Cuando usted Proporciona Información.</strong></p>

	<p><strong>Con su Consentimiento.</strong></p>

	<p><strong>Otra Información</strong></p>

	<p><strong><u>Seguridad de Datos</u></strong></p>

	<p>Hemos implementado medidas diseñadas para proteger su información personal de pérdidas accidentales, de accesos no autorizados, alteraciones y divulgaciones. Sin embargo, el Internet es un lugar público. No podemos prometer que su información permanecerá segura. Le recomendamos que tenga cuidado al compartir información. No comparta su contraseña con otras personas y elija contraseñas seguras.</p>

	<p>Nuestros servidores pueden estar ubicados en Estados Unidos. Su información puede ser enviada a Estados Unidos. Al utilizar nuestras aplicaciones, y al darnos su información, usted acepta dicha transferencia. También entiende que Estados Unidos puede no proporcionarle tantas protecciones como las leyes de su país.</p>

	<p>La seguridad de su información también depende de usted. Cuando le hayamos dado (o donde haya escogido) un PIN o una contraseña para acceder a ciertas partes de nuestras aplicaciones, usted es responsable de mantener dicha información confidencial. Le pedimos que no comparta esta información con nadie.</p>

	<p><strong>Niños menores de 16 años</strong></p>

	<p>Nuestra plataforma no está destinada a niños menores de 16 años. No recopilamos información personal a sabiendas de niños menores de 16 años.</p>

	<p><strong>Terceros</strong></p>

	<p>Nuestros sitios y aplicaciones pueden contener enlaces a sitios de terceros. Si hace clic en uno de esos enlaces, estos le llevarán a sitios que no controlamos. Esta Política no se aplica a las prácticas de dichos sitios. Usted debe leer atentamente las políticas de privacidad de terceros.</p>

	<p><strong>Cambios a Nuestra Política de Privacidad</strong></p>

	<p>Podemos actualizar nuestra Política de Privacidad de vez en cuando. Si realizamos cambios materiales en cuanto a la forma en que tratamos la información personal de nuestros usuarios, publicaremos la nueva política de privacidad en nuestro sitio web.</p>

	<p><strong>Acceso y Corrección de Su Información Personal</strong></p>

	<p>Puede revisar y cambiar su información personal ingresando y visitando el perfil de su cuenta.</p>
</div>