<div class="hero nav_blue">
    <div class="container">
        <h1 class="hero-heading">
            <strong>Construyendo Smart Cities</strong>
        </h1>
        <h2 class="hero-heading hero-heading-small">Plataforma de estacionamiento medido y gestión de tránsito</h2>
    </div>
    <div class="hero-arrow">
        <i class="fa fa-angle-down"></i>
    </div>
</div>
    <section class="section2 nav_white"><!--beneficios publicos-->
      <div class="content-block content light text-center pt-0">
        <div class="container text-center mt-4 mb-4 pb-4">
          <h2 class="heading-1 mt-4 pt-4"><strong>Controlá tu Estacionamiento</strong></h2>
          <h6 class="h5 ht mt-4">Estaciona.com ofrece la experiencia profesional y atencion personalizada con la cercania de una empresa local, con todas las capacidades, red y fuerza de una empresa global.</h6>
        </div>
      </div>
      <div class="content-block content light">
        <div class="container-fluid">
          <div class="container">
            <div class="rows row1">
              <div class="col-lg-4 col-sm-12 col-md-4 text-center mb-4 pb-4 animated fadeInLeft">
                <img class="col-4 beneficios" src="images/graphic-benefits-landing.png">
                <span class="col-12 float-left text-primary font-weight-bold mt-2 mb-2">INCREMENTA TUS INGRESOS</span>
                <p class="mr-4 ml-4 beneficio">
                  Atrae nuevos clientes a través de nuestra app y aumenta tus ingresos hasta un 30%.
                </p>
              </div>
              <div class="col-lg-4 col-sm-12 col-md-4 text-center mb-4 pb-4 animated fadeInUp">
                <img class="col-4 beneficios" src="images/management-benefits-landing.png">
                <span class="col-12 float-left text-primary font-weight-bold mt-2 mb-2">MEJORA LA EXPERIENCIA DE TUS CLIENTES</span>
                <p class="mr-4 ml-4 beneficio">
                  Destaca tu servicio con nuestro sistema de pago QR y hace que nuestros conductores te sigan eligiendo.
                </p>
              </div>
              <div class="col-lg-4 col-sm-12 col-md-4 text-center animated fadeInRight">
                <img class="col-4 beneficios" src="images/social-benefits-landing.png">
                <span class="col-12 float-left text-primary font-weight-bold mt-2 mb-2">DALE MAS VISIBILIDAD </span>
                <p class="mr-4 ml-4 beneficio">
                  Guiamos a nuestros conductores directamente a tu estacionamiento ofreciendo una inigualable experiencia de usuario con toda la información de tarifas, horarios, y servicios.
                </p>
              </div>
              <div class="col-12 text-center mt-4 animated fadeInUp">
                <button type="button" class="btn btn-md sandwich">
                  Empezá ya mismo
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="fondo">
        <div class="content-block content light text-center">
            <div class="container text-center mb-2 mt-4 pt-4">
                <h2 class="heading-1 mt-4 pt-4"><strong>Controlá tu estacionamiento</strong></h2>
                <h6 class="h5 ht mt-4">Un sistema en tiempo real, para operaciones en tiempo real.</h6>
            </div>
        </div>
        <div class="content-block content light pt-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 push-lg-6 col-md-6 push-md-6 content-block-inf p-5 pl-4 pr-4">
                        <div class="center mb-4">
                            <p class="text-left">
                                <strong>Accedé a la información de tu estacionamiento desde cualquier dispositivo... (falta)...</strong>
                            </p>
                        </div>
                        <ul class="mb-4 circles">
                            <li>Control de facturación.</li>
                            <li>Control de actividad de tu equipo de gestión.</li>
                            <li>Estadisticas y reportes historicos y actuales para mejorar rendimiento.</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 pull-lg-6 col-md-6 pull-md-6 img5 mt-4 rounded-2">
                        <img class="content-block-img" src="images/fondo-block.png">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fondo">
        <div class="content-block content light text-center">
            <div class="container text-center mt-4 pt-4">
                <h2 class="heading-1 mt-4 pt-4"><strong>Optimizá tu rentabilidad</strong></h2>
                <br>
                <h6 class="h5 ht">Una solución en la nube diseñada para mejorar la gestión del estacionamiento.</h6>
            </div>
        </div>
        <div class="content-block content light">
            <div class="container-fluid">
                <div class="row row1">
                    <div class="col-lg-6 col-md-6 pl-5 pr-5 content-block-info">
                        <div class="center mb-4">
                            <p class="text-justify">
                                <strong>Incrementá tus ingresos conectandote con tus clientes y reducí tus costos operativos eliminando procesos manuales.</strong>
                            </p>
                        </div>
                        <ul class="mb-4 circles">
                            <li>Nuevos clientes mediante la App.</li>
                            <li>Digitalización de tus pagos.</li>
                            <li>(falta)...</li>
                            <li>(falta)...</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 align-lg-right img1">
                        <img class="content-block-img" src="images/fondo-block.png">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fondo">
        <div class="content-block content light text-center">
            <div class="container text-center mt-4 pt-4 mb-4 pb-4">
                <h2 class="heading-1 mt-4 pt-4"><strong>Mejorá la experiencia de tus clientes</strong></h2>
                <br>
                <h6 class="h5 ht">Una aplicación con la mejor experiencia de usuario y todos los medios de pago.</h6>
            </div>
        </div>
        <div class="content-block bg-ligh content light">
            <div class="container-fluid">
                <div class="row row1">
                    <div class="col-lg-6 col-md-6 push-md-6 push-lg-6 pr-5 pl-5 col-lg-offset-1 content-block-info">
                        <div class="center mb-4">
                            <p class="text-justify">
                                <strong>Ofrecé a los conductores la posibilidad de encontrar y abonar tu estacionamiento como ellos prefieran de manera fácil y segura.</strong>
                            </p>
                        </div>
                        <ul class="mb-4 circles">
                            <li>Mapa interactivo con disponibilidad en tiempo real.</li>
                            <li>Acceso y soporte.</li>
                            <li>Pagos digitales y seguros.</li>
                            <li>Navegacion... (falta)...</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 pull-md-6 pull-lg-6 img2">
                        <img class="content-block-img" src="images/fondo-block.png">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fondo">
        <div class="content-block content light text-center pt-0">
            <div class="container text-center">
              <h2 class="heading-1 mt-4 pt-4"><strong>Controlá tu Estacionamiento</strong></h2>
              <h6 class="h5 ht mt-4">Estaciona.com ofrece la experiencia profesional y atencion personalizada con la cercania de una empresa local, con todas las capacidades, red y fuerza de una empresa global.</h6>
            </div>
        </div>
        
        <div class="col-lg-12 align-lg-right">
            <div class="rows anim">
                <div class="col mt-4 rounded-1">
                    <div class="">
                        <a class="img-card" href="http://www.estaciona.com">
                            <img src="images/visa-logos.png">
                        </a>
                    </div>
                </div>
                <div class="col mt-4">
                    <div class="">
                        <a class="img-card" href="http://www.estaciona.com">
                            <img src="images/mastercard-logos.png">
                        </a>
                    </div>
                </div>
                <div class="col mt-4 rounded-1">
                    <div class="">
                        <a class="img-card" href="http://www.estaciona.com">
                            <img src="images/visa-logos.png">
                        </a>
                    </div>
                </div>
                <div class="col mt-4 rounded-1">
                    <div class="">
                        <a class="img-card" href="http://www.estaciona.com">
                            <img src="images/mastercard-logos.png">
                        </a>
                    </div>
                </div>
                <div class="col mt4">
                    <div class="">
                        <a class="img-card" href="http://www.estaciona.com">
                            <img src="images/maestro-logos.png">
                        </a>
                    </div>
                </div>
                <div class="col mt-4 rounded-1">
                    <div class="">
                        <a class="img-card" href="http://www.estaciona.com">
                            <img src="images/visa-logos.png">
                        </a>
                    </div>
                </div>
                <div class="col mt4">
                    <div class="">
                        <a class="img-card" href="http://www.estaciona.com">
                            <img src="images/amex-logos.png">
                        </a>
                    </div>
                </div>
                <div class="col mt-4 rounded-1">
                    <div class="">
                        <a class="img-card" href="http://www.estaciona.com">
                            <img src="images/visa-logos.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block content light">
            <div class="container-fluid">
                <div class="rows row1">
                    <div class="col-lg-6 col-md-6 pr-5 pl-5 content-block-info">
                        <div class="center mb-4">
                            <h2 class="heading-2 d-none"><strong>Medios de pago</strong></h2>
                            <p  class="text-justify">
                                Los puntos de pago adheridos son equipados con <strong>Terminales Multipropósito</strong> para facilitar el pago del estacionamiento medido mediante efectivo, tarjetas magnéticas, y tarjetas de Crédito y Débito. El
                                ciudadano a su vez puede descargar una <a href="/app">App gratuita</a> y abonar su estadía con mayor agilidad desde donde se encuentre.
                            </p>
                        </div>
                        <ul class="mb-4 circles">
                            <li>La empresa mas sofisticada de Argentina en Smart Parking</li>
                            <li>Acceso y soporte</li>
                            <li>Reporte a través de un sistema de administración centralizado</li>
                            <li>Lorem ipsum dolor.</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 align-lg-right pos">
                        <img class="content-block-img" src="images/fondo-block.png">
                    </div>
                    <div class="col-lg-6 col-md-6 align-lg-right d-none">
                        <div class="row anim">
                            <div class="col-6 col-xs-12 col-sm-6 mt-4 rounded-1">
                                <div class="">
                                    <a class="img-card" href="http://www.estaciona.com">
                                        <img src="images/visa-logos.png">
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 col-xs-12 col-sm-6 mt-4">
                                <div class="">
                                    <a class="img-card" href="http://www.estaciona.com">
                                        <img src="images/mastercard-logos.png">
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 col-xs-12 col-sm-6">
                                <div class="">
                                    <a class="img-card" href="http://www.estaciona.com">
                                        <img src="images/maestro-logos.png">
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 col-xs-12 col-sm-6">
                                <div class="">
                                    <a class="img-card" href="http://www.estaciona.com">
                                        <img src="images/amex-logos.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fondo d-none">
        <div class="content-block content light text-center">
            <div class="container text-center mt-4 pt-4">
                <h2 class="heading-1 mt-4"><strong>Lorem ipsum dolor sit amet.<br>sit amet, placerat enim.</strong></h2>
                <br>
                <h6 class="h5 ht">Lorem ipsum dolor sit amet consecutur,<br>quam minimun credula POSTERO.</h6>
            </div>
        </div>
        <div class="content-block bg-ligh content light">
            <div class="container-fluid">
                <div class="row row1">
                    <div class="col-lg-6 pr-5 pl-5 push-lg-6 col-lg-offset-1 content-block-info">
                        <div class="center mb-4">
                            <h2 class="heading-2"><strong>Fiscalización</strong></h2>
                            <p class="text-justify">
                                Estaciona.com mejora la seguridad vial de las ciudades utilizando la más avanzada tecnología de control vehicular. Las terminales inteligentes logran agilizar un 72% el proceso de fiscalización gracias a su <strong>lector de patentes</strong>que brinda al inspector de transito información en tiempo real.
                            </p>
                        </div>
                        <ul class="mb-4 circles">
                            <li>La empresa mas sofisticada de Argentina en Smart Parking</li>
                            <li>Acceso y soporte</li>
                            <li>Reporte a través de un sistema de administración centralizado</li>
                            <li>Lorem ipsum dolor.</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 pull-lg-6 img4 mt-4">
                        <img class="content-block-img" src="images/fondo-block.png">
                    </div>
                </div>
            </div>
        </div>
    </section>