        <section class="banner_empresas nav_blue">
        	<div class="container animated fadeInUp">
        		<h1 class="hero-heading h1">
        			<strong>Construyendo Smart Cities</strong>
        		</h1>
        		<h2 class="hero-heading hero-heading-small">Plataforma de estacionamiento medido y gestión de tránsito</h2>
        	</div>
          	<div class="text_content">

          	</div>
        </section>
		<article>
			<section>	
		        <!--<hr class="divider">-->
		        <div class="content-block bg-lig content light nav_white">
		        	<div class="container-fluid">
		            	<div class="row pt-4 pb-4 nav_white" style="align-items: center;">
		              		<div id="animated-div" class="col-lg-6 content-block-info float-left animated fadeInUp">
			                	<div class="center pl-4 pr-4 tp">
				                  <h2 class="heading-2 tp" style="">
				                    <strong style="font-weight: 400">Acerca de Nosotros.</strong>
				                  </h2>
				                  <p style="font-size: 16px;" class="text-justify"><strong>Experiencia Local. Recursos Globales. Comprometidos con Latinoamerica/Un Compromiso con Latinoamerica.</strong><br>

				                  En Estaciona.com nos especializamos en el desarrollo de software y hardware para el ordenamiento vehicular tanto para el sector público como privado.<br><br>

				                  Estamos comprometidos a transformar las ciudades en latinoamerica para que tanto gobiernos como empresas puedan conectarse mejor con sus comunidades.<br><br>

				                  La misión de Estaciona es reducir la complejidad operacional y entregar datos inteligentes para perfeccionar la toma de decisiones de sus clientes.
				                  </p>
			                	</div>
		              		</div>			            
		              		<div class="float-right mt-4 col-lg-6 animated fadeInRight" style="display: none;">
						        <div class="content-block-info">
						            <div class="center pr-4">
						                <h2 class="heading-2" style="font-size: 26px;"><strong>Estacionamiento Tarifado/ Medido</strong>
						                </h2>
						               	<p style="font-size: 16px;">Te traemos el futuro sin la necesidad de costosas inversiones.
						                </p>
						                <button type="button" class="btn btn-secondary mt-4 mb-4 bt sandwich">Aprendé mas</button>
						            </div>
						        </div>
					            <div class="content-block-info mt-4 pt-4">
					                <div class="center pr-4">
					                   	<h2 class="heading-2"style="font-size: 26px;"><strong>Operadores Privados</strong></h2>
						                <p style="font-size: 16px;">Deja que nos ocupemos del estacionamiento para que te ocupes de tu negocio.
						                </p>
					                   	<button type="button" class="btn btn-secondary mt-4 mb-4 bt sandwich">Aprendé mas</button>
					                </div>
					            </div>
				        	</div>
		              	</div>
		            </div>
		        </div>
			</section>
		</article>